* {box-sizing: border-box;}

html{
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444;
  background: #32A332;
}
.App{
  display: flex;
  flex-direction: column;
  
}
.App h1{
  color: #fff;
  background-color: red;
  margin: auto;
  min-width:100%;
  text-align: center;
  font-size: 1.4rem;
  padding:.3rem;
}

.App .startContainer{
  text-align: center;
  min-width: 100%;

}

.App .startContainer .introText{
  color: #fff
}

.App .startContainer button, .App .startButtonContainer button{
  border: 0;
  padding: .4rem;
  background: #097CF7;
  color: #fff;
}

.App .startButtonContainer{
  margin-top: 2rem;
  flex-grow: 1;
}

.App .questionContainer{
  text-align: center;
  min-width: 100%;
}

.App .questionContainer .questionText{
  color: #fff;
}

.App .questionContainer .questionText .param{
  color: #F5DA09;
  font-style: bold;
}

.App .answerListContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

.App .answerListContainer #answerList{
  list-style: none;
  padding: 0;
  margin-bottom: 1rem;
}
.App .answerListContainer #answerList li{
  text-align: left;
  padding: auto 0;
  
}

.tableWrapper{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}

.leftCol, .rightCol{
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: #eee;
  grid-gap: 1px;
  width: 180px;
  
}

.leftCol > div, .rightCol > div{
  border: 1px solid #999
}


.leftCol :nth-child(odd), .rightCol :nth-child(odd){
  background-color: #aaa
}

.leftCol :nth-child(even), .rightCol :nth-child(even){

}


